@model TruckEditViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Criar novo caminhão</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Chassis" class="control-label"></label>
                <input asp-for="Chassis" class="form-control" disabled/>
                <span asp-validation-for="Chassis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TruckModel" class="control-label"></label>
                <select asp-for="TruckModel.Value" asp-items="Model.TruckModelList" class="form-control"></select>
                <span asp-validation-for="TruckModel.Value" class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingYear" class="control-label"></label>
                <input asp-for="BuildingYear" class="form-control" />
                <span asp-validation-for="BuildingYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelYear" class="control-label"></label>
                <input asp-for="ModelYear" class="form-control" />
                <span asp-validation-for="ModelYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
